.main {
  padding-top: 32px;

  &__title {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.32px;
    color: #000;
    margin-bottom: 35px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
  }
}