.bascet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 238px);

  &__wrap {
    width: 820px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.32px;
    color: #000;
    padding-left: 48px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url(../../../public/img/icons/bascet.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 29px;
      height: 29px;
    }
  }

  &__cleanse {
    font-weight: 400;
    font-size: 16px;
    color: #B6B6B6;
    padding-left: 27px;
    position: relative;
    transition: all 0.3s;

    &:hover {
      color: #514f4f;
    }
    
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url(../../../public/img/icons/dumpster.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 20px;
      height: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid #F4F4F4;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  &__pizza-inner {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.22px;
    color: #000;
    margin-bottom: 4px;
  }

  &__about-pizza {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.18px;
    color: #8D8D8D;
  }

  &__add-pizza {
    display: flex;
    align-items: center;
  }

  &__add-btn {
    font-size: 26px;
    font-weight: 700;
    border: 1px solid #FE5F1E;
    border-radius: 50%;
    color: #FE5F1E;
    width: 32px;
    height: 32px;
    transition: all 0.3s;

    &:hover {
      border-color: #fe5513;
      color: #fe5513;
      box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__add-numb {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.22px;
    color: #000;
    margin: 0 12px;
  }

  &__price {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.22px;
    color: #000;
  }

  &__remove {
    padding: 16px 16px;
    border: 1px solid #D0D0D0;
    border-radius: 50%;
    transition: all 0.3s;

    &:hover {
      border-color: #8D8D8D;
    }

    &:hover .bascet__line::before {
      background-color: #8D8D8D;
    }

    &:hover .bascet__line::after {
      background-color: #8D8D8D;
    }
  }

  &__line {
    position: relative;
    transition: all 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: #D0D0D0;
      border-radius: 4px;
      width: 15px;
      height: 2px;
      transition: all 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      background-color: #D0D0D0;
      border-radius: 4px;
      width: 15px;
      height: 2px;
      transition: all 0.3s;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.22px;
    color: #000;
  }

  &__amount {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.22px;
    color: #000;
    margin-left: 10px;
  }
  
  &__sum {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.22px;
    color: #FE5F1E;
    margin-left: 10px;
  }

  &__btn-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn-prev {
    font-weight: 400;
    font-size: 16px;
    color: #CACACA;
    padding: 16px 38px 16px 50px;
    border-radius: 30px;
    border: 1px solid #D3D3D3;
    position: relative;
    transition: all 0.3s;

    &:hover {
      border-color: #8D8D8D;
      color: #8D8D8D;
    }

    &:hover::before {
      background-color: #8D8D8D;
    }

    &:hover::after {
      background-color: #8D8D8D;
    }

    &::before {
      content: "";
      position: absolute;
      top: 55%;
      left: 12%;
      transform: translate(0%, -50%) rotate(45deg);
      background-color: #D3D3D3;
      border-radius: 4px;
      width: 10px;
      height: 2px;
      transition: all 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 45%;
      left: 12%;
      transform: translate(0%, -50%) rotate(-45deg);
      background-color: #D3D3D3;
      border-radius: 4px;
      width: 10px;
      height: 2px;
      transition: all 0.3s;
    }
  }

  &__btn-payment {
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
    padding: 15px 44px;
    border-radius: 30px;
    background-color: #FE5F1E;
    border: 2px solid #FE5F1E;
    transition: all 0.3s;

    &:hover {
      background-color: #fff;
      color: #FE5F1E;
    }
  }
}